@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-9cm { width: 9cm; }
  .h-9cm { height: 9cm; }
  .p-mm { padding: 1mm; }
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
  }
  
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}
